<div class="sidebar" style="width: 260px; position:fixed">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Kasa Insurance</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/viewpolicy">
        <i class='bx bx-box'></i>
        <span class="links_name">Policy</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">My Documents</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links_name">My Services</span>
      </a>
    </li>
    <li>
      <a routerLink="/pgpolicy">
        <i class='bx bx-coin-stack'></i>
        <span class="links_name">Report</span>
      </a>
    </li>
    <li>
      <a routerLink="/paynow">
        <i class='bx bx-book-alt'></i>
        <span class="links_name">Pay Premium</span>
      </a>
    </li>
    <li>
      <a routerLink="/applynew">
        <i class='bx bx-user'></i>
        <span class="links_name">Apply new</span>
      </a>
    </li>
    <li>
      <a routerLink="/quote">
        <i class='bx bx-message'></i>
        <span class="links_name">More Products</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Customers Services</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Setting</span>
      </a>
    </li>
    <li class="log_out">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>