table {
    border-collapse: collapse;
    border: 10px solid rgb(40, 115, 255);
    color : blue;
  } 

  .table table-hover{ 
    background-color: #0c39b6;
   
  }
 table.th{ 
      color: #0c39b6;
      background-color: #0c39b6;
  }